body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: .5em;
    margin: .1em;
    border-radius: 8px;
    border: 1px solid grey;
}

.message-info {
    color: #4a45a1;
    background-color: #ccdeff;
}

.message-success {
    color: #3c8b5b;
    background-color: #cff3da;
}

.message-warning {
    color: #94821e;
    background-color: #fbfac9;
}

.message-error {
    color: #97394d;
    background-color: #fad3d7;
}