.fancy-header {
    color: #fda502;
    font-family: 'Bangers', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: xxx-large;
}

#slogan {
    font-family: 'Bangers', cursive;
    color: white;
    text-align: center;
    font-size: x-large;
}

#guarantee {
    text-align: left;
    color: #fda502;
    font-size: xx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h3 {
    color: #fda502;
    text-decoration: underline;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.supplies {
    list-style: square;
}
.process {
    list-style: lower-roman;
}

#main-title {
    background-color: black;
    background-image: linear-gradient(greenyellow, rgba(0, 0, 0, 0.5));
}
#footer-link {
    color: blue;
}
#footer-link:hover {
    background-color: blue;
    color: white;
}
#footer-link:visited {
    color: red;
}
html {
    background-color: black;
}

body {
    background-image: url("../img/black_sand.png");
    background-size: cover;
    background-attachment: fixed;
}
table {
    color: white;
    font-size: x-large;
}
ul, ol {
    color: white;
    font-size: x-large;
}

body {
    font-family: 'Bangers', cursive;
}

table, th, td {
    border: 1px solid;
    border-color: red;
}

#img1 .one {
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}


