.fancy-header {
    color: #fda502;
    font-family: 'Bangers', cursive;
}

#slogan {
    font-family: 'Bangers', cursive;
    color: white;
    text-align: center;
}

p {
    text-align: left;
    color: #fda502;
}

h3 {
    color: #fda502;
    text-decoration: underline;
    font-family: 'Bangers', cursive;
}

.supplies {
    list-style: square;
}
.process {
    list-style: lower-roman;
}

#main-title {
    background-color: black;
}
#footer-link {
    color: blue;
}
#footer-link:hover {
    background-color: blue;
    color: white;
}
#footer-link:visited {
    color: red;
}
html {
    background-color: black;
}

body {
    background-image: url("../img/black_sand.png");
    background-size: cover;
}
table {
    color: white;
}
ul, ol {
    color: white;
}

body {
    font-family: 'Bangers', cursive;
}


